body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  background: cover;
  overflow-y: scroll;
  overflow-x: hidden; }

.welcome {
  font-weight: 200; }

.sidebar .warmenu {
  margin-top: 200px; }

.text-white {
  color: #fff; }

.blue {
  background: #1b3f73;
  color: #fff; }

.form-signin-heading {
  padding-bottom: 25px; }
